/*
Bitter, regular, italic, 50pt
Open Sans, regular, 18pt

#6D6E71 - gray
#959595 - light gray
#BEBEBE - lighter gray
#E6E7E8 - lightest gray
#163C67 - blue
#891E18 - red
#292728 - black
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #6D6E71;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 110%; /* 100% = 16px; 95% = 15px; 90% = 14px; 80% = 13px; 75% = 12px; */
  line-height: 1.5em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #6D6E71; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #163C67;
  text-decoration: none;
}

A:hover, A:active {
  color: #891E18;
  text-decoration: none;
}

A[href$=".pdf"] {
  background: transparent url(../images/pdf.png) center left no-repeat;
  background-size: auto 1em;
  padding-left: 1.4em;
}

INPUT, TEXTAREA {
  display: block;
  border: 1px solid #959595;
  width: 94%;
  padding: 0.5em 3%;
  margin-bottom: 1.2em;
  font-size: 100%;
  color: #6D6E71;
}

TEXTAREA {
  width: 96%;
  padding: 0.4em 2%;
  margin-bottom: 1.5em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 100%;
  height: 6.6em;
}

#contactform TEXTAREA {
  height: 17em;
}

INPUT[type="radio"],
INPUT[type="checkbox"] {
  display: inline;
  width: auto;
  padding: 0;
  margin: 0 0 0 2em;
}

INPUT[type="checkbox"] {
  margin: 0;
}

INPUT[type="radio"]:first-of-type {
  margin: 0;
}

INPUT[type="file"] {
  border: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

INPUT.button {
  margin: 1.5em auto 0;
  padding: 0.5em 2em;
  width: auto;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #FFFFFF;
  background: #163C67;
  cursor: pointer;
  -webkit-appearance: none;
}

INPUT.button:hover {
  background: #6D6E71;
}

FIELDSET {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}

.embed {
  position: relative;
  padding-bottom: 100%; /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
}
.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

H1, H2, H3 {
  font-family: 'Bitter', serif;
  color: #163C67;
  font-weight: normal;
}

H1 {
  font-size: 2.8em;
  margin: 0.1em 0 0.35em;
}

H2 {
  font-size: 1.9em;
  color: #292728;
  margin: 0.1em 0 0.1em;
}

H3 {
  font-size: 1.3em;
  color: #891E18;
  margin: 0.1em 0 0.1em;
  text-align: center;
}

.grayband {
  background: #E6E7E8;
  padding: 2em 0;
  margin-bottom: 3.1em;
}

.grayband ARTICLE {
  margin-bottom: 0;
}

.our-approach H1 {
  background: #FFFFFF;
  display: inline-block;
  padding: 0 0.4em;
}

.our-approach H1:after {
  content: "";
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  z-index: -1;
  border-top: 1px solid #BEBEBE;
}

.arrow {
  margin: 0 auto;
  width: 0; 
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-top: 21px solid #FFFFFF;
  position: relative;
  top: -1px;
}

.gray { border-top-color: #EBEBEB; }
.black { border-top-color: #292728; }

HEADER {
  margin: 0 auto;
  width: 1000px;
}

#logo {
  margin: 1.15em 0 0 0.51em;
  float: left;
}

.clearfix:before, .clearfix:after,
HEADER:before, HEADER:after,
NAV:before, NAV:after { content: ""; display: table; }
.clearfix:after, HEADER:after, NAV:after { clear: both; }
.clearfix, HEADER, NAV { zoom: 1; }

.collapse {
  height: auto;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: 0;
}

#menu-toggle {
  display: none;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  border: 0;
}

A#menu-toggle {
  color: #163C67;
}

#menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

#menu UL LI {
  float: left;
  position: relative;
  z-index: 99;
}

#menu UL LI A:link, #menu UL LI A:visited {
  color: #303030;
  text-decoration: none;
  display: inline-block;
  height: 123px;
  line-height: 123px;
  font-size: 80%;
  padding: 0 1.2em;
}

#menu UL LI:hover A {
  background: #163C67;
  color: #FFFFFF;
  text-decoration: none;
}

#menu UL LI UL {
  display: none;
  padding-bottom: 0.1em;
  float: none;
}

#menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 123px;
  left: 0;
}

#menu UL LI UL LI {
  float: none;
}

#menu UL LI UL LI A:link, #menu UL LI UL LI A:visited {
  border-top: 1px solid #BEBEBE;
  background: rgb(230, 231, 232); /* Fallback for older browsers without RGBA-support */
  background: rgba(230, 231, 232, 0.95); /*background: #E6E7E8;*/
  color: #163C67;
  display: block;
  width: auto;
  height: 1em;
  line-height: 1em;
  white-space: nowrap;
  padding: 0.8em 1.2em;
}

#menu UL LI UL LI:first-child A {
  border-top: none;
  box-shadow: inset 1px 8px 9px -6px #CCCCCC;
}
#menu UL LI UL LI:first-child A:hover {
  box-shadow: inset 1px 8px 9px -6px #123154;
}

#menu UL LI UL LI A:hover {
  background: rgb(22, 60, 103); /* Fallback for older browsers without RGBA-support */
  background: rgba(22, 60, 103, 0.95); /*background: #163C67;*/
  color: #FFFFFF;
  text-decoration: none;
}

#banner,
#banner-home {
  box-shadow: inset 1px 8px 9px -6px;
}

#banner {
  height: 266px;
  background: url(../images/banner-sub-our-firm.jpg) top center no-repeat;
}

#banner-home {
  height: 452px;
  background: url(../images/banner-home.jpg) top center no-repeat;
}

#banner-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 2.3em;
  line-height: 1.3em;
  color: #FFFFFF;
  width: 1000px;
  margin: 0 auto;
}

#banner-home #banner-text {
  font-size: 3.3em;
}

#banner-border {
  height: 6px;
  background: url(../images/banner-border.jpg) top center repeat-x;
  position: relative;
  z-index: 90;
  margin-bottom: 3.8em;
}

#logo-circle {
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#page-title {
  width: 1000px;
  margin: 0 auto 2.5em;
  text-align: center;
  font-size: 125%;
  color: #959595;
  padding-bottom: 1.7em;
  border-bottom: 1px solid #BEBEBE;
}

#page-title H1 {
  font-size: 2.3em;
  margin: 0.1em 0 0.3em;
  text-transform: uppercase;
  line-height: 1em;
}

#page-title.our-approach {
  position: relative;
  padding-bottom: 0;
  border-bottom: 0;
}

.name-bullet {
  font-size: 0.9em;
  padding: 0.1em;
}

ARTICLE {
  margin: 0 auto 3.1em;
  width: 1000px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
  font-size: 96%;
}

.one-col {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.three-col {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}

ARTICLE#home {
  width: 920px;
  text-align: center;
  font-size: 114%;
  line-height: 1.4em;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

ARTICLE#our-approach {
  width: 100%;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

ARTICLE#our-approach #graph {
  background: url(../images/our-approach-background.jpg) top center no-repeat;
  text-align: center;
}

ARTICLE#our-approach #graph IMG {
  margin: 2.5em auto;
}

ARTICLE#our-approach #two-col {
  margin: 0 auto;
  width: 1000px;
  font-size: 0.9em;
}

.left {
  float: left;
  width: 45%;
}

.right {
  float: right;
  width: 45%;
}

.left IMG,
.right IMG {
  max-width: 100%;
}

IMG.left {
  margin-right: 5%;
}

IMG.right {
  margin-left: 5%;
}

#pre-footer-outer {
  background-color: #292728;
}

#pre-footer-outer-home {
  background-color: #EBEBEB;
}

#pre-footer-inner,
#pre-footer-inner-home {
  margin: 0 auto;
  width: 1000px;
}

#pre-footer-inner {
  height: 193px;
}

#pre-footer-outer-none,
#pre-footer-inner-none {
  display: none;
}

#pre-footer-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-family: 'Bitter', serif;
  color: #BEBEBE;
  width: 94%;
  margin: 0 auto;
}

#pre-footer-text EM {
  font-size: 1.4em;
}

#pre-footer-inner-home {
  padding: 66px 0;
}

.spiff {
  float: left;
  width: 318px;
  text-align: center;
  color: #292728;
  display: block;
  overflow: hidden;
}

A.spiff:link, A.spiff:visited,
A.spiff:hover, A.spiff:active {
  color: #292728;
}

.spiff-mid {
  margin: 0 23px;
}

.spiff-img {
  position: relative;
  width: 100%;
}
.spiff-img:before {
  content: "";
  display: block;
  padding-top: 67%;
}

A.spiff:hover .spiff-img, A.spiff:active .spiff-img {
  background-position: top right;
}

.spiff-left .spiff-img { background: url(../images/spiff-left.jpg) top left no-repeat; background-size: 200%; }
.spiff-mid .spiff-img { background: url(../images/spiff-mid.jpg) top left no-repeat; background-size: 200%; }
.spiff-right .spiff-img { background: url(../images/spiff-right.jpg) top left no-repeat; background-size: 200%; }

.spiff-sep {
  height: 1em;
  width: 36%;
  margin: 0 auto 1.1em;
  border-bottom: 1px solid #BEBEBE;
}

.spiff-text {
  min-height: 3.9em;
  margin: 0 auto;
  padding: 0 6% 0.7em 6%;
  line-height: 1.3em;
}

A.spiff:link .readmore, A.spiff:visited .readmore {
  font-size: 0.85em;
  line-height: 1em;
  color: #163C67;
}

A.spiff:hover .readmore, A.spiff:active .readmore {
  color: #891E18;
}

#footer-wrap {
  background: #891E18 url(../images/footer-background.jpg) top center no-repeat;
  color: #FFFFFF;
  font-size: 0.7em;
  line-height: 1.4em;
}

FOOTER {
  margin: 2.4em auto;
  width: 1000px;
}

#location {
  float: left;
}

A#map {
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url(../images/map-pin.png) center top no-repeat;
}

A#map:hover {
  background-position: center bottom;
}

#location A.fa:link, #location A.fa:visited {
  color: #E6E7E8;
  font-size: 19px;
  margin: 0.5em 0.2em 0 0;
}

#location A.fa-linkedin-square:link { font-size: 21px; }

#location A.fa:hover, #location A.fa:active {
  color: #959595;
}

#footer-menu {
  float: right;
}

.menu-col {
  float: left;
  white-space: nowrap;
  margin-left: 60px;
  font-size: 0.9em;
  line-height: 2.1em;
}

.menu-col .fm-top {
  font-weight: bold;
  font-size: 1.1em;
}

.menu-col A {
  display: block;
}

#location A:link, #location A:visited,
.menu-col A:link, .menu-col A:visited {
  color: #E6E7E8;
}

#location A:hover, #location A:active,
.menu-col A:hover, .menu-col A:active {
  color: #959595;
}

#copyright {
  font-size: 80%;
  /*height: 3.4em;*/
  /*line-height: 3.4em;*/
  padding: 1em 0;
  background: #891E18;
  text-align: center;
}

#backToTop {
  display: none;
}

.logos {
  text-align: center;
}

.logos IMG {
  margin: 0 4% 3em;
  vertical-align: middle;
  width: 25%;
}

.logos IMG.square {
  margin: 0 11% 3em;
  width: 11%;
}

.test-attr {
  padding-left: 33%;
  text-indent: -0.8em;
  font-style: italic;
}

A:link .fa-linkedin-square,
A:visited .fa-linkedin-square {
  color: #1C87BD;
  font-size: 200%;
}

A:hover .fa-linkedin-square,
A:active .fa-linkedin-square{
  color: #891E18;
}

.entry-content P { margin: 0 0 1.5em; }

.entry-content H3 {
  margin: 0;
  text-align: left;
  font-size: 1.3em;
}

@media only screen and (min-width: 1600px) {
  /* Wide screen */
  #banner,
  #banner-home,
  #footer-wrap,
  ARTICLE#our-approach #graph {
    background-size: cover;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  HEADER, FOOTER,
  #pre-footer-inner {
    width: 100%;
  }
  
  #pre-footer-inner-home {
    width: 98%;
  }

  ARTICLE, ARTICLE#home,
  #banner-text, #page-title {
    width: 92%;
  }
  
  #menu UL LI:first-child {
    display: none;
  }

  #menu UL LI UL LI:first-child {
    display: block;
  }

  #menu UL LI A:link, #menu UL LI A:visited {
    font-size: 78%;
  }

  #menu UL LI:last-child:hover UL {
    left: -3.2em;
  }

  .spiff {
    width: 31%;
  }

  .spiff-mid {
    margin: 0 3.5%;
  }

  .spiff-text {
    min-height: 5em;
  }

  #location {
    margin-left: 2%;
  }

  #footer-menu {
    width: 60%;
  }

  .menu-col:first-child {
    float: none;
    width: 100%;
  }

  .menu-col {
    margin-left: 0;
    width: 33%;
  }

  .menu-col:first-child A {
    display: inline-block;
    width: 32.3%;
  }

  ARTICLE#our-approach #graph IMG {
    margin: 2.5em auto;
    max-width: 90%;
  }

  ARTICLE#our-approach #two-col {
    width: 94%;
  }

  .left, .right {
    width: 48%;
  }

  .logos IMG {
    width: 24%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
  ARTICLE {
    -webkit-column-gap: 2.5em;
    -moz-column-gap: 2.5em;
    column-gap: 2.5em;
  }

  #menu UL LI A:link, #menu UL LI A:visited {
    font-size: 74%;
    padding: 0 1.2em;
  }

  #menu UL LI:last-child:hover UL {
    left: -3em;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  TEXTAREA {
    height: 8.8em;
  }

  #logo {
    margin-bottom: 1.15em;
  }

  .collapse {
    height: 0;
    overflow: hidden;
  }

  #menu-toggle {
    display: block;
    top: 0.2em;
    right: 0.2em;
    font-size: 2.9em;
    height: 1em;
    width: 1em;
  }
  
  #menu {
    position: absolute;
    right: 3em;
  }

  #menu UL {
    position: relative;
    z-index: 999;
  }

  #menu UL LI {
    float: none;
  }

  #menu UL LI:first-child {
    display: block;
  }

  #menu UL LI:hover A,
  #menu UL LI A:link, #menu UL LI A:visited,
  #menu UL LI UL LI A:link, #menu UL LI UL LI A:visited {
    background: rgb(230, 231, 232); /* Fallback for older browsers without RGBA-support */
    background: rgba(230, 231, 232, 0.95); /*background: #E6E7E8;*/
    color: #163C67;
  }

  #menu UL LI A:link, #menu UL LI A:visited {
    font-size: 105%;
    width: 100%;
    height: 2.3em;
    line-height: 2.3em;
    padding: 0 0.8em;
  }

  #menu UL LI A:hover,
  #menu UL LI UL LI A:hover {
    background: #163C67;
    color: #FFFFFF;
  }

  #menu UL LI UL {
    display: block;
    padding-bottom: 0;
  }

  #menu UL LI:hover UL {
    position: static;
  }

  #menu UL LI UL LI A:link, #menu UL LI UL LI A:visited {
    border-top: 0;
    height: 2.3em;
    line-height: 2.3em;
    padding: 0 1.2em 0 1.5em;
  }

  #menu UL LI UL LI:first-child A,
  #menu UL LI UL LI:first-child A:hover {
    box-shadow: none;
  }

  #page-title H1 {
    font-size: 1.9em;
  }

  .spiff {
    width: 32%;
  }

  .spiff-mid {
    margin: 0 2%;
  }

  .spiff-text {
    min-height: 6.4em;
  }
  
  #footer-menu {
    width: auto;
    margin-right: 4%;
  }

  .menu-col {
    float: none;
  }

  .menu-col A {
    display: none;
  }

  .menu-col A.fm-top {
    display: inline-block;
  }

  .menu-col:first-child A.fm-top {
    display: block;
    width: auto;
  }

  ARTICLE {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  
  ARTICLE#our-approach #graph IMG {
    margin: 2em auto;
  }

  .left, .right {
    float: none;
    width: 100%;
  }

  .logos IMG {
    margin: 0 2% 3em;
    width: 25%;
  }

  .three-col {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  H2 {
    line-height: 1em;
  }

  TEXTAREA {
    height: 10em;
  }

  #menu {
    right: auto;
    left: 0;
  }

  #banner-home #banner-text {
    width: 98%;
    font-size: 2.8em;
  }

  #banner-text {
    width: 96%;
    font-size: 1.8em;
  }
  
  #page-title H1 {
    line-height: 0.8em;
  }

  #page-title H1 .name-bullet {
    display: block;
  }

  .spiff {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }

  .spiff-mid {
    margin: 0 0 2em 0;
  }

  .spiff-img {
    width: 96%;
    margin: 0 auto;
  }

  .spiff-text {
    min-height: 2em;
  }

  #pre-footer-text {
    font-size: 80%;
    line-height: 1.5em;
  }
    
  FOOTER {
    text-align: center;
  }

  #location {
    float: none;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
  }

  #footer-menu {
    display: none;
  }

  #copyright {
    font-size: 80%;
  }

  #backToTop {
    display: block;
    position: fixed;
    bottom: 0.1em;
    right: 0.1em;
    z-index: 999;
    padding: 0.4em 0.4em;
    color: #FFFFFF;
    background: rgb(22, 60, 103); /* Fallback for older browsers without RGBA-support */
    background: rgba(22, 60, 103, 0.7); /*background: #163C67;*/
  }

  ARTICLE#our-approach #graph IMG {
    max-width: 98%;
    margin: 1.5em auto;
  }

  .logos IMG {
    margin: 0 0 2em;
    width: 96%;
  }

  .three-col {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}